/*Generelle indstillinger*/
* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: #D3ECDD;
}


img {
    width: 100%;
}


/***Menu***/

header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    justify-content: space-between;
}


p {
    color: #8A8A8A;
    font-family: 'Neucha', cursive;
}

h1 {
    font-family: 'Neucha', cursive;
    margin: 0.1vw;
    font-size: 1.2rem;
    color: #8A8A8A;
}

h2 {
    margin-left: 8vw;
    margin-top: 6vw;
    font-family: 'Neucha', cursive;
    font-size: 0.9rem;
    color: #8A8A8A;
}

#balloon_container h1 {
    font-family: 'Neucha', cursive;
    margin: 0.1vw;
    font-size: 1.8rem;
    color: #8A8A8A;

}

#balloon_container p {
    color: #8A8A8A;
    font-family: 'Neucha', cursive;
    font-size: 1.5rem;
}



































/***************classes*************/


.hide {
    display: none;
}

/*
.down {
    transform: translateX(0);
}
*/

.overlay {

    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;


    /*
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 1;
    transition: .5s ease;
    background-color: #008CBA;
*/
}

.forside_hover:hover .overlay {
    opacity: 0.5;
    transition: .2s;
}

.text_forside {
    font-family: 'Neucha', cursive;
    color: white;
    font-size: 3rem;
    position: absolute;
    top: 50%;
    left: 60%;


    /*
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
*/
    transform: translate(-50%, -50%);

}













































































/********* mobil menu ***********/
#menuknap_mobil {
    font-size: 3.5rem;
    padding-left: 2vw;
}

.logo_mobil {
    height: 12vw;
    width: 12vw;
    margin-top: 4vw;
}

#kurv_mobil {
    height: 10vw;
    width: 10vw;
    margin-top: 6vw;
    margin-right: 6vw;
}




































/******************web menu*****************/
.logo_web {
    height: 8vw;
    width: 8vw;
    margin: 4vw;
    display: none;
}

#kurv_web {
    height: 70px;
    width: 70px;
    margin-right: 90px;
    margin-top: 75px;
    display: none;
    background-color: #D3ECDD;
}

.nav_web {
    margin-top: 5vw;
    display: none;
}

a {
    padding: 2vw;
    font-size: 1.5rem;
    text-decoration: none;
    color: #8A8A8A;
    font-family: 'Neucha', cursive;
}








































.zoom {

    transition: transform .2s;

    margin: 0 auto;
}

.zoom:hover {
    -ms-transform: scale(1);
    /* IE 9 */
    -webkit-transform: scale(1.5);
    /* Safari 3-8 */
    transform: scale(1.1);
    transition: .2s;
}





.images_forside img {
    object-fit: cover;
    position: relative;
    padding: 20px;
    /*    margin: 20px;*/
}










































































/***anledninger***/
/*#anledninger .itemlist {
	background-color: #D3ECDD;
	width: 100vw;
	/*height: 100vw;*/
/*margin: 0;*/
/*display: flex;
	flex-wrap: wrap;
}
*/

.itemlist {
    margin-left: 80px;
    margin-right: 10px;
    align-items: center;
}

/*.item_1 {
	flex-grow: 1;
	flex-basis: 500px;
}*/

.bryl_image {
    object-fit: contain;
    /* height: 60vw;
    width: 60vw; */
    background-size: cover;
}

.col {
    padding: 5vw;
}

.basket {
    margin-left: 45px;
    margin-right: 45px;
}




























































































/***ballontyper/produktview***/


#balloon_container {
    margin: 4%;

}


.z_picture {
    flex-grow: 1;
    flex-basis: 350px;
    padding: 2vw;
}

.ballon_typer_size {
    object-fit: cover;

}

.z_size {

    padding: 2px;

}

.z_tekst_flex {}

.z_tekst1 {}

.z_tekst2 {}

.z_tekst_size {}

#antal_boks {
    background-color: white;
    width: 100px;
    height: 40px;
    border: 2px solid black;
    margin: 5px;

}

.basket_boks_size {
    height: 30vw;
    width: 25vw;
    padding: 5px;
}

#ballontyper {
    margin: 55px
}



.sectionwrapper_se_mere {
    display: flex;
    flex-wrap: wrap;
}

.sectionwrapper_se_mere img {
    width: 50%;
    padding: 1vw;
}


.side {
    padding: 6vw;
}

.se_mere_size {

    margin: 6px;
    padding: 0px;

}

@media only screen and (min-width: 600px) {

    #balloon_container {
        display: flex;

    }

    .sectionwrapper_se_mere img {
        width: 25%;
        padding: 1vw;
    }


}











































































/***galleri***/







































































/***tilbehør***/











































































/***om os***/
#om_os {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}

#om_os video {
    padding: 10px;
    flex-grow: 1;
    /*    margin-left: 15px;*/
    margin-top: 40px;
    align-self: center;
}

#om_os p {
    align-self: center;
    margin: 10px;
}

#om_os h1 {
    align-self: center;
}










































































/******************footer*******************/

footer {
    width: 100%;
    background-color: #B3D6CA;
    text-align: left;
    padding: 10px;
}


/******************media query*************/

/*

@media only screen and (max-width:600px) {

/*
    #forside {
        display: flex;
        flex-direction: column;

    }

    .images_forside {
        flex-wrap: wrap;


    }
*/

/*
    .image_left {
        flex-wrap: wrap;
        flex-grow: 1;
        flex-basis: 50px;
    }

    .image_right {
        flex-wrap: wrap;
        flex-grow: 1;
        flex-basis: 50px;
    }
*/
/*}*/
/*
@media only screen and (max-width 1238px) {
    a {
        padding: 10px;
        font-size: 0.6rem;
        text-decoration: none;
        color: #8A8A8A;
    }

}
*/

@media only screen and (min-width: 600px) {
    .nav_mobil {
        display: none;
    }

    #menuknap_mobil {
        display: none;
    }

    .logo_mobil {
        display: none;
    }

    #kurv_mobil {
        display: none;
    }


    .nav_web {
        display: block;
        flex-wrap: nowrap;
    }

    nav {
        display: flex;
        justify-content: space-between;
    }

    .logo_web {
        display: block;
    }

    #kurv_web {
        display: block;
    }


    .images_forside {
        display: flex;
        padding-left: 90px;
        padding-right: 90px;
        padding-bottom: 90px;

    }

    /*
    .images_forside img {
        padding
    }
*/

    .col {
        flex-basis: 300px;
        flex-grow: 1;

    }
}

@media only screen and (min-width: 600px) {
    .itemlist {
        display: flex;
        flex-wrap: wrap;
        /*		flex-direction: row;*/
    }

    .col {
        flex-basis: 300px;
        flex-grow: 3;
        padding: 2vw;
    }
}

@media only screen and (min-width: 600px) {
    #om_os p {
        width: 400px;
        margin-bottom: 40px;
    }

    #om_os video {
        margin-top: 0;
    }
}
